.home {
	text-align: center;
	padding: var(--vertical-padding) var(--horizontal-padding);
}

.container {
	margin: 0 auto;
}

.title {
	font-size: 2rem;
}

.highlight {
	color: var(--color-primary);
}

.subtitle {
	margin-top: 8px;
	font-size: 1.2rem;
}

.buttons {
	margin-top: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

.btn {
	display: block;
	padding: 12px 36px;
	background: none;
	border: none;
	border-radius: 4px;
	color: var(--color-text-primary);
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn_primary {
	background: var(--color-primary);
	color: var(--color-text-primary);
}

.btn_primary:hover {
	background: var(--color-hover);
}

.btn_secondary {
	background: transparent;
	color: var(--color-primary);
	border: 2px solid var(--color-primary);
}

.btn_secondary:hover {
	background: var(--color-primary);
	color: var(--color-text-primary);
}

@media (min-width: 768px) {
	.buttons {
		flex-direction: row;
	}
}
