.contact {
	background: var(--color-background);
	padding: var(--vertical-padding) var(--horizontal-padding);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.title {
	color: var(--color-primary);
	font-size: 2rem;
	text-transform: uppercase;
}

.subtitle {
	margin-top: 16px;
	color: var(--color-text-secondary);
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.social_media {
	margin-top: 16px;
	display: inline-block;
	padding: 4px;
	color: var(--color-primary);
	transition: all 0.3s ease;
}

.social_media:hover {
	color: var(--color-text-secondary);
	transform: translateY(-5px);
}

.social_media svg {
	font-size: 2rem;
}
