.certificates {
	padding: var(--vertical-padding) var(--horizontal-padding);
	background: var(--color-background);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.title {
	color: var(--color-primary);
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
}

.card {
	background: var(--color-background-secondary);
	padding: 16px;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0px 4px 6px var(--color-shadow);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
	transform: translateY(-4px);
	box-shadow: 0px 6px 8px var(--color-shadow);
}

.card_title {
	font-size: 1.2rem;
	color: var(--color-primary);
}

.card_issuer {
	margin-top: 8px;
	color: var(--color-text-secondary);
}

.card_date {
	margin-top: 4px;
	font-size: 0.8rem;
	color: var(--color-text-secondary);
}

.card_link {
	margin-top: 16px;
	display: inline-block;
	padding: 8px 24px;
	border-radius: 4px;
	color: var(--color-primary);
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid var(--color-primary);
	transition: all 0.3s ease;
}

.card_link:hover {
	background: var(--color-primary);
	color: var(--color-text-primary);
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.card {
		padding: 24px;
	}
}

@media (min-width: 1024px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}
